<!DOCTYPE html>
<html>

<head>
    <title>StorePix</title>
</head>


<nav class="uk-navbar-container uk-margin" uk-navbar>
    <div class="uk-navbar-left">

        <a class="uk-navbar-item uk-logo" href="#">StorePix</a>

        <ul class="uk-navbar-nav">
        </ul>

        <div class="uk-navbar-item">
            <div class="uk-text-emphasis"><a href="">My Pix</a></div>
        </div>

        <div class="uk-navbar-item">
            <form action="javascript:void(0)">
                <input class="uk-input uk-form-width-small" type="text" placeholder="Search pictures">
                <button class="uk-button uk-button-default">Search</button>
            </form>
        </div>
    </div>
    <div class="uk-navbar-right">
        <a href="/logout" <button class="uk-button uk-button-danger">Sign out</button></a>
    </div>
</nav>

<body>

</body>

</html>