<!DOCTYPE html>
<html>

<head>
  <title>StorePix</title>
</head>

<body>
  <div class="uk-position-center">
    <h1>Welcome to StorePix</h1>

    <a href="/users/sign_in" <button class="uk-button uk-button-primary uk-button-large">Sign In</button></a>
    <a href="/users/sign_up" <button class="uk-button uk-button-secondary uk-button-large">Sign up</button></a>
  </div>

</body>

</html>