<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
</head>

<body>
    <div class="uk-position-center">
    <% include partials/_alerts %>
        <h1>Login to StorePix</h1>    
        <form action="/users/login" method="POST">
            <div class="field uk-margin">
                <label>Email:</label><br />
                <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: user"></span>
                    <input class="uk-input" type="text" id="email" placeholder="email" name="email">
                </div>
            </div>

            <div class="field uk-margin">
                <label>Password:</label><br />
                <div class="uk-inline">
                    <span class="uk-form-icon uk-form-icon" uk-icon="icon: lock"></span>
                    <input class="uk-input" type="password" id="password" placeholder="password" name="password">
                </div>
            </div>

            <button class="uk-button uk-button-secondary" type="submit">Login!</button>
            <br /><br /><br />
        </form>
        <a href="/users/register" ><button class="uk-button uk-button-default uk-button-small">Register</button></a>


    </div>

</body>

</html>